.bg-asset[data-bg-asset="1"] {
  background-image: url(re/asset_1.jpg);
  color: var(--ui-background);
}

.bg-asset[data-bg-asset="2"] {
  background-image: url(re/asset_2.jpg);
  color: var(--ui-background);
}

.bg-asset[data-bg-asset="3"] {
  background-image: url(re/asset_3.jpg);
  color: var(--ui-background);
}

.bg-asset[data-bg-asset="4"] {
  background-image: url(re/asset_4.jpg);
  color: var(--ui-background);
}

.bg-asset[data-bg-asset="5"] {
  background-image: url(re/asset_5.jfif);
  color: var(--ui-background);
}

.bg-asset[data-bg-asset="6"] {
  background-image: url(re/superhuman_hjpg.jpg);
}

.bg-asset[data-bg-asset="7"] {
  background-image: url(re/asset_5.jpg);
  color: var(--ui-contrast);
}

.bg-asset[data-bg-asset="8"] {
  background-image: url(re/asset_8.jpg);
  color: var(--ui-background);
}

.bg-asset[data-bg-asset="9"] {
  background-image: url(re/asset_9.jpg);
  color: var(--ui-contrast);
}

.bg-asset[data-bg-asset="10"] {
  background-image: url(re/asset_10.jfif);
  color: var(--ui-background);
}