footer * {
  font-family: "rsms", serif;
}

footer a {
  color: var(--ui-content);
}

footer[aria-label="site footer"] {
  border-top: solid 1px #80808020;
}

footer[aria-label="site footer"] > .parent-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer[aria-label="site footer"] > .parent-wrapper > nav[aria-label="breadcrumb"]  > ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
  gap: .5rem;
  font-size: .875rem;
}

footer[aria-label="site footer"] > .parent-wrapper > nav[aria-label="breadcrumb"]  > ol > li > a {
  display: block;
  text-decoration: none;
}

footer[aria-label="site footer"] > .parent-wrapper > nav[aria-label="breadcrumb"]  > ol > li > a:hover {
  text-decoration: underline;
  text-decoration-color: #808080;
}

footer[aria-label="site footer"] > .parent-wrapper > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

footer[aria-label="site footer"] > .parent-wrapper > ul > li > a {
  display: inline-block;
  text-decoration: none;
  
  font-size: .875rem;
}

footer[aria-label="site footer"] > .parent-wrapper > ul > li > a:hover {
  text-decoration: underline;
  text-decoration-color: #808080;
}